     *
    {
        margin: 0;
        padding: 0;
    }
    .body
    {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    .container-2
    {
        background-color: black;
        height: 50px;
        width: calc(100% - 20px);
        margin: 10px;
    }
    .container-2 ul li a
    {
        background-color: black;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: cursive;
        font-size: 20px;
        padding: 5px;
    }
    .container-2 ul li
    {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        list-style: none;
        margin-top: 10px;
        
    }

    .container-2 ul li a:hover
   {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        color: rgb(0, 0, 0);
        transition: 0.5s;
   }
   .container
   {
    width: 100%;
   }
   .row
   {
    display: flex;
    flex-wrap: wrap;
   }
   .col1
   {
    background-image: url("https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/15402/SM619997.jpg");
    background-size: cover;
    height: 200px;
    margin: 10px;
    width: calc(33.33% - 20px);
   }
    .col2
   {
    background-image: url("https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/18596/SM843080.jpg");
    background-size: cover;
    height: 200px;
    margin: 10px;
    width: calc(33.33% - 20px);
   }
    .col3
   {
    background-image: url("https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/16001/SM668003.jpg");
    background-size: cover;
    height: 200px;
    margin: 10px;
    width: calc(33.33% - 20px);
   }
    .col4
   {
    background-image: url("https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/14937/SM575952.jpg");
    background-size: cover;
    height: 200px;
    margin: 10px;
    width: calc(33.33% - 20px);
   }
    .col5
   {
    background-image: url("https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/13174/SM451408.jpg");
    background-size: cover;
    height: 200px;
    margin: 10px;
    width: calc(33.33% - 20px);
   }
    .col6
   {
    background-image: url("https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/18694/SM864212.jpg");
    background-size: cover;
    height: 200px;
    margin: 10px;
    width: calc(33.33% - 20px);
   }
   .col-2
   {
    height: 60px;
    margin: 10px;
    padding: 20px 0px;
    width: calc(100% - 20px);
    background-color: rgb(0, 0, 0);
   }
   .col-100
   {
     height: 60px;
     margin: 5px;
     padding: 10px 0px;
     width: calc(100% - 10px);
   }
   .imagechange
{
    margin: 10px;
    padding: 20px 0px;
    width: calc(100% - 20px);
    height: 60px;
    animation: imgchng 5s infinite;
    background-size: cover;
    background-position: center;
}

@keyframes imgchng
{
    0%
    {
        
        background-image: url('https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/21188/SM1106376.jpg');
    }
    33%
    {
        background-image: url('https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/21174/SM1105859.jpg');
    }
    66%
    {
        background-image: url('https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/21146/SM1104901.jpg');
    }
    100%
    {
        background-image: url('https://s3.ap-south-1.amazonaws.com/awsimages.imagesbazaar.com/1200x1800-new/21145/SM1104914.jpg');
    }
}
   h1,p,h2
   {
     text-align: center;
     text-transform: capitalize;
     color: aliceblue;
     font-family: cursive;
   }
   
   @media (max-width:768px)
   {
        .container-2 label
        {
            display: block;
        }
        .container-2 ul{
            display: none;
        };

   }
   @media(min-width:768px)
   {
        .container-2 label
        {
            display: none;
        }
   }